{%  extends 'AppCoder/padre.html' %}



{% block titulo %}



<h1>agregar imagen de perfil</h1>
<div class="container" style="width: 400px; margin-top: 50px; margin-bottom: 50px;">
<form style="background-color: rgb(193, 149, 235); padding: 20px; border-radius: 15px;" action="" method="POST" enctype="multipart/form-data"> {%  csrf_token %}

  <table>

      {{  form.as_p }}
  </table>
  <input class="btn btn-primary" type="submit" value="send">

</form>
{% block mensaje  %}
<h1 style="color: aliceblue;"> 


{{mensaje}}
</h1> 

{% endblock %}


</div>



{% endblock %}
