{%  extends 'AppCoder/padre.html' %}



{% block titulo %}




<div class="container" style="width: 400px; margin-top: 50px; margin-bottom: 50px;">
    <h1 class="text-center" style="color: aliceblue;">Editar usuario {{usuario}}</h1>
<form style="background-color: rgb(193, 149, 235); padding: 20px; border-radius: 15px;" action="" method="POST"> {%  csrf_token %}

  <table>

      {{  form.as_p }}
  </table>
  <input class="btn btn-primary" type="submit" value="Editar">
{% block mensaje  %}
<h1 style="color: aliceblue;"> 

</h1> 

{% endblock %}

</form>
</div>



{% endblock %}