<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inicio.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <title>Document</title>
</head>
<body style="background-color: black;">    
    <!--HEADER-->
 <nav class="navbar navbar-expand-lg bg-body-tertiary navbarMio">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Tienda Nintendo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Favorito' %}">Favoritos</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'BusquedaForm'%}">busqueda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarioNuevo'%}">nuevo usuario</a>
              </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'verUsuarioNuevo'%}">ver usuarios</a>
            </li>
           </ul>
            <!-- Este boton lleva al formulario de registro en base de datos-->
            <div class="d-flex">
              <a class="nav-link" href="{% url 'Usuario'%}">
               <button class="btn btn-primary" type="submit">registrarse</button>
              </a>
              <a class="nav-link" href="{% url 'login'%}">
                <button class="btn btn-primary" type="submit">login</button>
               </a>
            </div>
            <ul>
              {% block form %}
              {% endblock %}
            </ul>
          </div>
        </div>
      </nav>
      <!--MAIN-->
    <div class="container" style="background-color: black;">
        
          {% block titulo %}
          {% endblock %}
    </div>
    <!--FOOTER-->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Bootstrap
          </a>
        </div>
      </nav>
</body>
</html>